$main-color:#EA7600;
$secondary-color:#002F6C;
$third-color:#B1B1B1;
/**
 * Demo Styles
 */

 
html {
  height: 100%;
  box-sizing: border-box;
}

.holder{
  min-height: 100%;
  position: relative;
  /*max-width: 1200px;*/
  margin: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  color:black;
  position: relative;
  min-height: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding-bottom: 100px; 
}

header{
  padding: 10px 20px;
  /*
  background-color: lighten(#efefef, 3%);
  */
  background-color: $main-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .branding{
    display: flex;
    align-items: center;
    justify-content: start;
    img{
      width: 20%;
      display: center;
    }
    .branding-name{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      padding: 1em;
      .title{
        font-weight: bold;
        color:white;
        font-size: 2rem;
      }
      .subtitle{
        color:white;
        font-size: 1.1rem;
      }
    }
    span{
      display: center;
      color:white;
    }
    a{ 
      color: $main-color;
    }
  }
  nav{
    display: flex;
    a{
      font-size: 1em;
      display: inline-block;
      padding: 5px 10px;
      color:white;
      text-decoration: none;
      position: relative;
      cursor: pointer;
      &:hover::after{
          content:'';
          position: absolute;
          bottom: -5px;
          left: 0px;
          width: 100%;
          height: 3px;
          background-color: $third-color;
      }
    }
    a:hover{
      text-decoration: none;
    }
    .login-button{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      color: white;
      text-decoration: none !important;

      &:hover{
        color: lighten($secondary-color, 20%);
      }

      &:after{
        content: none !important;
      }

      .login-image{
        font-size: 200%;
      }
    }
  }
}
.center {
  text-align: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.two-columns{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1em;
}

/**
 * Footer Styles
 */

footer {
  background-color: $secondary-color;
  color: white;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: start;
  padding-left: 0.5em;
  padding-top: 0.5em;
  margin-left: -2.6%;
  margin-right: -2.6%;
  height: 500px;
}

/**
 * Event Styles
 */

.events{
  display: grid;
  grid-template-columns: repeat(5, 20%);
  a { 
      color: white;
      &:hover{
        color: white;
      }
  }
  .title{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 2em;
    border-bottom: 5px solid $main-color;
    background-color: white;
    text-align: start;
    a { 
        color: $secondary-color;
        &:hover{
          color: lighten($secondary-color, 20%);
        }
    }
  }
  .first{
    grid-column-start: 1;
    grid-column-end: 4; 
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: blue;
    min-height: 500px;
    border: 2px solid white;
    .img-container{
      display: grid;
      background-image: url('./img/evento-6.jpg');
      background-position: fixed;
      background-size: cover;
      width: 100%;
      height: 100%;
      .text{ 
        position: relative; 
        left: 0; 
        width: 100%; 
        bottom: 0;
        background: rgba(0,0,0,.5);
        color: white;
        grid-row-start: 4;
        grid-row-end: 5;
        text-align: start;
        padding-left: 0.5em;
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }
  .second{
    background-color: $third-color;
    background: rgba(0,0,0,.5);
    grid-column-start: 4;
    grid-column-end: 6; 
    grid-row-start: 2;
    grid-row-end: 5;
    border: 2px solid white;
    color: white;
    text-align: start;
    padding-left: 0.5em;
  }
  .item-1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: $third-color;
    grid-column-start: 1;
    grid-column-end: 6; 
    min-height: 200px;
    border: 2px solid white;
    .img-container{
      background-image: url('./img/evento-5.jpg');
      background-position: fixed;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .text{ 
      position: relative; 
      width: 100%; 
      bottom: 0;
      background: rgba(0,0,0,.5);
      color: white;
      grid-column-start: 2;
      grid-column-end: 3;
      text-align: start;
      padding-left: 0.5em;
      font-size: 1.5em;
      font-weight: bold;
    }
  }
  .item-2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: $third-color;
    grid-column-start: 1;
    grid-column-end: 6; 
    min-height: 200px;
    border: 2px solid white;
    .img-container{
      background-image: url('./img/evento-7.jpg');
      background-position: fixed;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .text{ 
      position: relative; 
      width: 100%; 
      bottom: 0;
      background: rgba(0,0,0,.5);
      color: white;
      grid-column-start: 2;
      grid-column-end: 3;
      text-align: start;
      padding-left: 0.5em;
      font-size: 1.5em;
      font-weight: bold;
    }
  }
}

.events-list{
  overflow-y: scroll;
  height:100vh;
  border: 1em solid white;
  .event-item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0.5em 0.5em 0.5em $third-color;
    margin-bottom: 1em;
    min-height: 250px;
    .img-container-1{
      background-image: url('./img/evento-1.jpg');
      background-position: fixed;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .img-container-4{
      background-image: url('./img/evento-4.jpg');
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .img-container-5{
      background-image: url('./img/evento-5.jpg');
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .img-container-6{
      background-image: url('./img/evento-6.jpg');
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .img-container-7{
      background-image: url('./img/evento-7.jpg');
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .img-container-8{
      background-image: url('./img/evento-8.jpg');
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .text-side{
      display: grid;
      grid-template-rows: auto 1fr auto auto auto;
      .title{
        text-align: start;
        padding-left: 0.5em;
        font-size: 1.5em;
        font-weight: bold;
      }
      .date{
        text-align: start;
        padding-left: 0.5em;
        font-size: 1.2em;
        font-weight: bold;
      }
      .place{
        text-align: start;
        padding-left: 0.5em;
        font-size: 1.2em;
      }
      .text{
        text-align: start;
        padding-left: 0.5em;
        font-size: 1.2em;
      }
      .button{
        padding: 0.5em;
      }
    }
  }
}
.events-nav{
  border: 1em solid white;
  .search{
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
  }
  .filters{
    text-align: start;
    padding-left: 1em;
    padding-right: 1em;
    .title{
      font-size: 1.3em;
      font-weight: bold;
      color: black;
      border-top: 5px solid $main-color;
    }
    .subtitle{
      font-size: 1em;
      color: black;
    }
  }
  .calendar{
    text-align: center;
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
    .title{
      text-align: start;
      font-size: 1.3em;
      color: black;
      border-top: 5px solid $main-color;
      font-weight: bold;
    }
  }
}
.title-date{
  text-align: start;
    font-size: 1.2em;
    font-weight: bold;
    color: $main-color;
    border-bottom: 5px solid $main-color;
}

/**
 * News Styles
 */

.news{
  display: grid;
  grid-template-rows: 2em calc(50% - 1em) calc(50% - 1em);
  a { 
      color: white;
      &:hover{
        color: white;
      }
  }
  .title{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 2em;
    border-bottom: 5px solid $main-color;
    background-color: white;
    text-align: start;
    a { 
        color: $secondary-color;
        &:hover{
          color: lighten($secondary-color, 20%);
        }
    }
  }
  .item-1{
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 6;
    border: 2px solid white;
    .img-container{
      display: grid;
      background-image: url('./img/news/deportes-1.jpg');
      background-position: fixed;
      background-size: cover;
      width: 100%;
      height: 100%;
      .text{ 
        position: relative; 
        left: 0; 
        width: 100%; 
        bottom: 0;
        background: rgba(0,0,0,.5);
        color: white;
        grid-row-start: 4;
        grid-row-end: 5;
        text-align: start;
        padding-left: 0.5em;
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }
  .item-2{
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 6;
    border: 2px solid white;
    .img-container{
      display: grid;
      background-image: url('./img/news/ciencia-2.jpg');
      background-position: fixed;
      background-size: cover;
      width: 100%;
      height: 100%;
      .text{ 
        position: relative; 
        left: 0; 
        width: 100%; 
        bottom: 0;
        background: rgba(0,0,0,.5);
        color: white;
        grid-row-start: 4;
        grid-row-end: 5;
        text-align: start;
        padding-left: 0.5em;
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }
}

.news-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  .news-item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0.5em 0.5em 0.5em $third-color;
    margin-bottom: 1em;
    min-height: 250px;
    .text-side{
      display: grid;
      grid-template-rows: auto 1fr auto;
      .date{
        text-align: start;
        padding-left: 0.5em;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 1.2em;
        font-weight: bold;
      }
      .title{
        text-align: start;
        padding-left: 0.5em;
        font-size: 1.5em;
        font-weight: bold;
      }
      .category{
        text-align: start;
        padding-left: 0.5em;
        padding-top: 1em;
        padding-bottom: 1em;
      }
    }
  }
}

.news-nav{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  .items-2{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 0.25em solid $main-color;
    a { 
        color: $secondary-color;
        &:hover{
          color: lighten($secondary-color, 20%);
        }
    }
  }
  .items-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    font-size: 1em;
    font-weight: bold;
    a { 
        color: $secondary-color;
        &:hover{
          color: lighten($secondary-color, 20%);
        }
    }
  }
}

.news-search{
  padding-left: 1em;
  padding-top: 1em;
  padding-right: 1em;
  position: relative;
  left: 0;
  max-width: 30%;
}
/*
  Imágenes de noticias de salud
*/
.salud-1{
  display: grid;
  background-image: url('./img/news/salud-1.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.salud-2{
  display: grid;
  background-image: url('./img/news/salud-2.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.deportes-1{
  display: grid;
  background-image: url('./img/news/deportes-1.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.deportes-2{
  display: grid;
  background-image: url('./img/news/deportes-2.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.cultura-1{
  display: grid;
  background-image: url('./img/news/cultura-1.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.cultura-2{
  display: grid;
  background-image: url('./img/news/cultura-2.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.educacion-1{
  display: grid;
  background-image: url('./img/news/educacion-1.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.educacion-2{
  display: grid;
  background-image: url('./img/news/educacion-2.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.ciencia-1{
  display: grid;
  background-image: url('./img/news/ciencia-1.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.ciencia-2{
  display: grid;
  background-image: url('./img/news/ciencia-2.jpg');
  background-position: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.economia-1{
  display: grid;
  background-image: url('./img/news/economia-1.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.economia-2{
  display: grid;
  background-image: url('./img/news/economia-2.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/**
 * More Styles
 */

.title-container{
  background-color: white;
  color: black;
  font-weight: bold;
}

.local-navigation{
  background-color: blue;
}




.btn-umovil{
  background: #002f6c;
  color: white !important;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none !important;

  &:hover, &:focus{
    background: #023c87; 
  }
  &:active{
    background: #012554;
  }
}

.events-login{
  display: grid;
  margin-top: 1em;
  box-shadow: 0.5em 0.5em 0.5em $third-color;
  .title{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 2em;
    border-bottom: 5px solid $main-color;
    text-align: start;
    padding-left: 1em;
    font-size: 1.5em;
    font-weight: bold;
  }
  .preferences{
    display: grid;
    grid-template-columns: repeat(7, auto);
    text-align: start;
    justify-content: space-between;
    padding-left: 1em;
    font-weight: bold;
  }
  .events{
    background-color: goldenrod;
    grid: display;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .first{
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 4; 
    grid-row-start: 1;
    grid-row-end: 4;
    .img-container{
      display: grid;
      background-image: url('./img/evento-1.jpg');
      background-position: fixed;
      background-size: cover;
      width: 100%;
      height: 100%;
      .text{ 
        position: relative; 
        left: 0; 
        width: 100%; 
        bottom: 0;
        background: rgba(0,0,0,.5);
        color: white;
        grid-row-start: 4;
        grid-row-end: 5;
        text-align: start;
        padding-left: 0.5em;
        font-size: 1.5em;
        font-weight: bold;
      }
    }
    a {
      color: white;
      padding-left: 0.5em;
      font-size: 1em;
      font-weight: bold;
    }
  }
  .item{
    background-color: red;
    grid-column-start: 4;
    grid-column-end: 7;
    border: 5px solid white;
  }
  .evento-login-1{
    display: grid;
    background-image: url('./img/evento-8.jpg');
    background-position: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    .text{ 
      position: relative; 
        left: 0; 
        width: 100%; 
        bottom: 0;
        background: rgba(0,0,0,.5);
        color: white;
        grid-row-start: 4;
        grid-row-end: 5;
        text-align: start;
        padding-left: 0.5em;
        font-size: 1em;
        font-weight: bold;
    }
    a {
      color: white;
      padding-left: 0.5em;
      font-size: 1em;
      font-weight: bold;
    }
  }
  .evento-login-2{
    display: grid;
    background-image: url('./img/evento-5.jpg');
    background-position: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    .text{ 
      position: relative; 
        left: 0; 
        width: 100%; 
        bottom: 0;
        background: rgba(0,0,0,.5);
        color: white;
        grid-row-start: 4;
        grid-row-end: 5;
        text-align: start;
        padding-left: 0.5em;
        font-size: 1em;
        font-weight: bold;
    }
    a {
      color: white;
      padding-left: 0.5em;
      font-size: 1em;
      font-weight: bold;
    }
  }
  .evento-login-3{
    display: grid;
    background-image: url('./img/evento-4.jpg');
    background-position: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    .text{ 
      position: relative; 
        left: 0; 
        width: 100%; 
        bottom: 0;
        background: rgba(0,0,0,.5);
        color: white;
        grid-row-start: 4;
        grid-row-end: 5;
        text-align: start;
        padding-left: 0.5em;
        font-size: 1em;
        font-weight: bold;
    }
    a {
      color: white;
      padding-left: 0.5em;
      font-size: 1em;
      font-weight: bold;
    }
  }
}


.news-login{
  display: grid;
  margin-top: 0.5em;
  margin-bottom: 1em;
  box-shadow: 0.5em 0.5em 0.5em $third-color;
  .title{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 2em;
    border-bottom: 5px solid $main-color;
    text-align: start;
    padding-left: 1em;
    font-size: 1.5em;
    font-weight: bold;
  }
  .preferences{
    display: grid;
    grid-template-columns: repeat(6, auto);
    text-align: start;
    justify-content: space-between;
    padding-left: 1em;
    font-weight: bold;
  }
  .events{
    background-color: goldenrod;
    grid: display;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .first{
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 4; 
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .item{
    background-color: red;
    grid-column-start: 4;
    grid-column-end: 7;
    border: 5px solid white;
  }
  .news-login-first{
    display: grid;
    background-image: url('./img/news/deportes-2.jpg');
    background-position: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    .text{ 
      position: relative; 
        left: 0; 
        width: 100%; 
        bottom: 0;
        background: rgba(0,0,0,.5);
        color: white;
        grid-row-start: 4;
        grid-row-end: 5;
        text-align: start;
        padding-left: 0.5em;
        font-size: 1em;
        font-weight: bold;
    }
    a {
        color: white;
        padding-left: 0.5em;
        font-size: 1.5em;
        font-weight: bold;
    }
  }
  .news-login-1{
    display: grid;
    background-image: url('./img/news/cultura-2.jpg');
    background-position: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    .text{ 
      position: relative; 
        left: 0; 
        width: 100%; 
        bottom: 0;
        background: rgba(0,0,0,.5);
        color: white;
        grid-row-start: 4;
        grid-row-end: 5;
        text-align: start;
        padding-left: 0.5em;
        font-size: 1em;
        font-weight: bold;
    }
    a {
      color: white;
      padding-left: 0.5em;
      font-size: 1em;
      font-weight: bold;
    }
  }
  .news-login-2{
    display: grid;
    background-image: url('./img/news/educacion-2.jpg');
    background-position: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    .text{ 
      position: relative; 
        left: 0; 
        width: 100%; 
        bottom: 0;
        background: rgba(0,0,0,.5);
        color: white;
        grid-row-start: 4;
        grid-row-end: 5;
        text-align: start;
        padding-left: 0.5em;
        font-size: 1em;
        font-weight: bold;
    }
    a {
      color: white;
      padding-left: 0.5em;
      font-size: 1em;
      font-weight: bold;
    }
  }
  .news-login-3{
    display: grid;
    background-image: url('./img/news/ciencia-1.jpg');
    background-position: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    .text{ 
      position: relative; 
        left: 0; 
        width: 100%; 
        bottom: 0;
        background: rgba(0,0,0,.5);
        color: white;
        grid-row-start: 4;
        grid-row-end: 5;
        text-align: start;
        padding-left: 0.5em;
        font-size: 1em;
        font-weight: bold;
    }
    a {
      color: white;
      padding-left: 0.5em;
      font-size: 1em;
      font-weight: bold;
    }
  }
}


.about-us{
  height: 500px;
  width: 700px;
  margin: 0 auto;
  font-size: 20px;
  img{
      width: 35%;
      display: center;
    }
  .titulo{
    font-size: 25px;
    font-weight: bold;
  }
  .descripcion{

  }
  .tilulo2{
    font-size: 23px;
    font-weight: bold;
  }
  .integrantes{

  }
}

a {
  /*
  color: darken($third-color, 35%);
  */
  color: $secondary-color;
  &:hover{
    color: lighten($secondary-color, 20%);
  }
}

.footer-news{
  margin-left: 0;
  margin-right: 0%;
  height: 500px;
}