$main-color:#EA7600;
$secondary-color:#002F6C;
$third-color:#B1B1B1;
/**
 * Demo Styles
 */

 
html {
  height: 100%;
  box-sizing: border-box;
}

.holder{
  min-height: 100%;
  position:relative;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color:black;
  position: relative;
  margin: 0;
  min-height: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding-bottom: 100px; 
}

header{
  padding: 10px 20px;
  /*
  background-color: lighten(#efefef, 3%);
  */
  background-color: $main-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .branding{
    display: flex;
    align-items: center;
    justify-content: start;
    img{
      width: 20%;
      display: center;
    }
    .branding-name{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      padding: 1em;
      .title{
        font-weight: bold;
        color:white;
        font-size: 2rem;
      }
      .subtitle{
        color:white;
        font-size: 1.1rem;
      }
    }
    span{
      display: center;
      color:white;
    }
  }
  nav{
    a{
      font-size: 1em;
      display: inline-block;
      padding: 5px 10px;
      /*
      color:darken($secondary-color, 10%);
      */
      color:white;
      text-decoration: none;
      position: relative;
      cursor: pointer;
      &:hover::after{
          content:'';
          position: absolute;
          bottom: -5px;
          left: 0px;
          width: 100%;
          height: 3px;
          background-color: $third-color;

      }
    }
    .login-button{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .login-image{
        font-size: 200%;
      }
    }
  }
}
.center {
  text-align: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 100%;
}

.two-columns{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1em;
}

/**
 * Footer Styles
 */

footer {
  background-color: $secondary-color;
  color: white;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: start;
  padding-left: 0.5em;
  padding-top: 0.5em;
  height: 450px;
}

/**
 * Event Styles
 */

.events{
  display: grid;
  grid-template-columns: repeat(5, 20%);
  .title{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 2em;
    border-bottom: 5px solid $main-color;
    background-color: white;
    text-align: start;
  }
  .first{
    grid-column-start: 1;
    grid-column-end: 4; 
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: blue;
    min-height: 500px;
    border: 2px solid white;
    .img-container{
      display: grid;
      background-image: url('./img/evento-1.jpg');
      background-position: fixed;
      background-size: cover;
      width: 100%;
      height: 100%;
      .text{ 
        position: relative; 
        left: 0; 
        width: 100%; 
        bottom: 0;
        background: rgba(0,0,0,.5);
        color: white;
        grid-row-start: 4;
        grid-row-end: 5;
        text-align: start;
        padding-left: 0.5em;
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }
  .second{
    background-color: $third-color;
    background: rgba(0,0,0,.5);
    grid-column-start: 4;
    grid-column-end: 6; 
    grid-row-start: 2;
    grid-row-end: 5;
    border: 2px solid white;
    color: white;
    text-align: start;
    padding-left: 0.5em;
  }
  .item-1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: $third-color;
    grid-column-start: 1;
    grid-column-end: 6; 
    min-height: 200px;
    border: 2px solid white;
    .img-container{
      background-image: url('./img/evento-2.jpg');
      background-position: fixed;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .text{ 
      position: relative; 
      width: 100%; 
      bottom: 0;
      background: rgba(0,0,0,.5);
      color: white;
      grid-column-start: 2;
      grid-column-end: 3;
      text-align: start;
      padding-left: 0.5em;
      font-size: 1.5em;
      font-weight: bold;
    }
  }
  .item-2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: $third-color;
    grid-column-start: 1;
    grid-column-end: 6; 
    min-height: 200px;
    border: 2px solid white;
    .img-container{
      background-image: url('./img/evento-3.jpg');
      background-position: fixed;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .text{ 
      position: relative; 
      width: 100%; 
      bottom: 0;
      background: rgba(0,0,0,.5);
      color: white;
      grid-column-start: 2;
      grid-column-end: 3;
      text-align: start;
      padding-left: 0.5em;
      font-size: 1.5em;
      font-weight: bold;
    }
  }
}

.events-list{
  overflow-y: scroll;
  height:100vh;
  border: 1em solid white;
  .event-item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0.5em 0.5em 0.5em $third-color;
    margin-bottom: 1em;

    min-height: 300px;
    .img-container-1{
      background-image: url('./img/evento-1.jpg');
      background-position: fixed;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .img-container-4{
      background-image: url('./img/evento-4.jpg');
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .img-container-5{
      background-image: url('./img/evento-5.jpg');
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .img-container-6{
      background-image: url('./img/evento-6.jpg');
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .img-container-7{
      background-image: url('./img/evento-7.jpg');
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .img-container-8{
      background-image: url('./img/evento-8.jpg');
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .text-side{ 
      display: grid;
      grid-template-rows: 1fr auto auto auto;
      .title{
        text-align: start;
        padding-left: 0.5em;
        font-size: 1.5em;
        font-weight: bold;
      }
      .date{
        text-align: start;
        padding-left: 0.5em;
        font-size: 1.2em;
        font-weight: bold;
      }
      .place{
        text-align: start;
        padding-left: 0.5em;
        font-size: 1.2em;
      }
      .text{
        text-align: start;
        padding-left: 0.5em;
      }
      .button{
        padding: 0.5em;
      }
    }
  }
}
.events-nav{
  border: 1em solid white;
  .search{
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
  }
  .filters{
    text-align: start;
    padding-left: 1em;
    padding-right: 1em;
    .title{
      font-size: 1.2em;
      font-weight: bold;
      color: $main-color;
      border-top: 5px solid $main-color;
    }
    .subtitle{
      font-size: 1.1em;
      font-weight: bold;
      color: $third-color;
    }
  }
  .calendar{
    text-align: center;
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
    .title{
      text-align: start;
      font-size: 1.2em;
      font-weight: bold;
      color: $main-color;
      border-top: 5px solid $main-color;
    }
  }
}

/**
 * News Styles
 */

.news{
  display: grid;
  grid-template-rows: 2em calc(50% - 1em) calc(50% - 1em);
  
  .title{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 2em;
    border-bottom: 5px solid $main-color;
    background-color: white;
    text-align: start;
  }
  .item-1{
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 6;
    border: 2px solid white;
    .img-container{
      display: grid;
      background-image: url('./img/noticia-1.jpg');
      background-position: fixed;
      background-size: cover;
      width: 100%;
      height: 100%;
      .text{ 
        position: relative; 
        left: 0; 
        width: 100%; 
        bottom: 0;
        background: rgba(0,0,0,.5);
        color: white;
        grid-row-start: 4;
        grid-row-end: 5;
        text-align: start;
        padding-left: 0.5em;
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }
  .item-2{
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 6;
    border: 2px solid white;
    .img-container{
      display: grid;
      background-image: url('./img/noticia-2.jpg');
      background-position: fixed;
      background-size: cover;
      width: 100%;
      height: 100%;
      .text{ 
        position: relative; 
        left: 0; 
        width: 100%; 
        bottom: 0;
        background: rgba(0,0,0,.5);
        color: white;
        grid-row-start: 4;
        grid-row-end: 5;
        text-align: start;
        padding-left: 0.5em;
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }
}

/**
 * More Styles
 */

.title-container{
  background-color: white;
  color: $main-color;
  font-weight: bold;
}

.local-navigation{
  background-color: blue;
}